.emailContainer {
  background-color: #f5f7f7;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  margin: 0 auto;
  width: 80%;
}

.emailContainer:hover {
  cursor: pointer;
}
